ai-blog-platform-backend/n8n-workflows/wordpress-draft-creator.json
{
  "name": "WordPress Draft Creator - AI Blog Platform",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wordpress-draft",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "ai-blog-platform-wordpress"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "test-condition",
              "leftValue": "={{ $json.test }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "test-check",
      "name": "Is Test Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "statusCode": 200,
        "body": {
          "success": true,
          "message": "N8N WordPress integration is working",
          "service": "AI Blog Platform N8N Workflow",
          "timestamp": "={{ new Date().toISOString() }}",
          "webhookUrl": "={{ $node.Webhook.json.headers.host }}/webhook/wordpress-draft"
        }
      },
      "id": "test-response",
      "name": "Test Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 200]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "resource": "post",
        "operation": "create",
        "title": "={{ $json.title }}",
        "content": "={{ $json.content }}",
        "status": "draft",
        "excerpt": "={{ $json.excerpt || '' }}",
        "additionalFields": {
          "meta": {
            "metadataValues": [
              {
                "name": "_yoast_wpseo_title",
                "value": "={{ $json.metaTitle || $json.title }}"
              },
              {
                "name": "_yoast_wpseo_metadesc",
                "value": "={{ $json.metaDescription || '' }}"
              },
              {
                "name": "_yoast_wpseo_focuskw",
                "value": "={{ $json.focusKeyword || '' }}"
              },
              {
                "name": "ai_generated",
                "value": "true"
              },
              {
                "name": "source_platform",
                "value": "AI-Blog-Platform"
              },
              {
                "name": "company_id",
                "value": "={{ $json.companyId }}"
              },
              {
                "name": "generated_at",
                "value": "={{ $json.generatedAt || new Date().toISOString() }}"
              }
            ]
          },
          "categories": "={{ $json.categories || [] }}",
          "tags": "={{ $json.tags || [] }}"
        }
      },
      "id": "wordpress-create",
      "name": "Create WordPress Draft",
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [680, 400],
      "credentials": {
        "wordpressApi": {
          "id": "wordpress-main",
          "name": "WordPress Main Site"
        }
      }
    },
    {
      "parameters": {
        "statusCode": 201,
        "body": {
          "success": true,
          "message": "WordPress draft created successfully",
          "data": {
            "wordpressId": "={{ $json.id }}",
            "title": "={{ $json.title.rendered }}",
            "status": "={{ $json.status }}",
            "editUrl": "={{ $json.link.replace('?preview=true', '').replace($json.slug, 'wp-admin/post.php?post=' + $json.id + '&action=edit') }}",
            "previewUrl": "={{ $json.link }}",
            "createdAt": "={{ $json.date }}",
            "modifiedAt": "={{ $json.modified }}",
            "author": "={{ $json.author }}",
            "excerpt": "={{ $json.excerpt.rendered }}",
            "companyId": "={{ $node['Webhook Trigger'].json.companyId }}"
          },
          "meta": {
            "workflow": "N8N WordPress Draft Creator",
            "version": "1.0.0",
            "processedAt": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    },
    {
      "parameters": {
        "statusCode": 400,
        "body": {
          "success": false,
          "message": "Failed to create WordPress draft",
          "error": "={{ $json.error || 'Unknown error occurred' }}",
          "details": {
            "originalData": "={{ $node['Webhook Trigger'].json }}",
            "errorDetails": "={{ $json }}",
            "timestamp": "={{ new Date().toISOString() }}"
          }
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 520]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Is Test Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Test Request?": {
      "main": [
        [
          {
            "node": "Test Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create WordPress Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Draft": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-01-01T00:00:00.000Z",
      "updatedAt": "2024-01-01T00:00:00.000Z",
      "id": "ai-blog-platform",
      "name": "AI Blog Platform"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
